@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Joan&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Joan&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    background-color: #3F51B5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.name-header {
    color: white;
    font-family: Lato, sans-serif;
    font-size: 27px;
    margin-left: 5%;
    padding: 15px;
    display: inline;
}

nav {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.menu {
    color: white;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20%;
    display: inline;
}

.menu:hover {
    color: white;
}

.picture {
    width: 200px;
    border-radius: 45%;
}

.div1-1 {
    width: 50%;
    height: 500px;
    float: left;
    padding: 10px;
    text-align: center;
}

.div1-1-1 {
    margin-top: 5%;
}

.div1-1-2 {
    margin-top: 5%;
}

.div1-1-3 {
    margin-top: 1%;
}

.email:hover , .linkedin:hover, .github:hover {
    width: 50px;

}

.div1-2 {
    border: 1 px solid green;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.main-section {
    border: 2px solid red;
}

.projects-section {
    border: 2px solid green;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;

}